
body{
 /* background-color: #f6f6f6; */
 background-color: white;

}


.img_class{
    margin-top: 10%;
    width: 400px;
    left:0;
    top:0;
    margin-bottom: 2%;
    /* left:400px; */
}

.button_div{
    width: 50%;
    margin-left: 30%;
}


td{
    width: 250px;
}

.common_position  button,#btnGenerateBro{
    margin-top: 20%;
    font-size: large;
    color: #292525;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    border:none;
    position: relative;
    background-color: white;
    box-shadow: 0px 2px 5px  rgb(124, 115, 115);
}

#btnGenerateBro{
    height:50px;
    margin-left: 40%;
}


#btnGenerate{
    /* margin-left: 40%; */
}

#btnUpload{
    margin-left: 8%;
}


.common_position button:hover,#btnGenerateBro:hover{
    background-image: linear-gradient(to bottom right,#ef6c3c,#de2a60)!important;;
    color: white;
    opacity: 90%;
    cursor: pointer;
    box-shadow:none;
}

input{
    position: relative;
    margin-top: 0px;
    margin: auto;
    /* margin-left: 50%; */
    width: 70%;
    font-size: medium;
    border-width: 2px;
    border-color: rgb(235, 230, 230);
    border-style: solid;
    box-shadow: 0px 6px 20px  rgb(124, 115, 115);
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    padding-left: 2%;
}


input:focus {
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-image-source: linear-gradient(to bottom right,#ef6c3c,#de2a60);
    border-image-slice: 1;
    box-shadow: none;
  
}

   /* background-image:linear-gradient(to bottom right,#ef6c3c,#de2a60)!important */


/*input:focus{
    outline: rgb(0, 255, 98);
}*/

div{
    /* display:inline-table; */
    /* display:flex; */
}

html{
    /* display:inline-table; */
}

.common_position{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;

}


.popup-window {
    position: fixed;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
  }    

  .close-button{
    font-size: large;
    position: absolute;
    top:5px;
    right:5px;
    background-color: white;
    color: grey;
    border: none;
  }

  .close-button:hover{
    color: red;
    background-color: white;
   
  }

  #popup-window-generate{
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    height:80%;
    border-radius: 10px;
    
  }

  .wrapper {

    position: relative;
    border-radius: 10px;
  }
  #popup-window-browse{
    /* align-items: center; */
    /* justify-content: center; */
    box-sizing: border-box;
    min-width: 60%;
    max-width: 85%;
    min-height: 66%;
    max-height: 90%;
    /* width: 80%; */
    font-family:sans-serif;
    flex-direction: column;
    border-radius: 10px;
    /* border-width: 1px; */
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    overflow: auto;
  }

  #popup-window_waitingBox{
    box-sizing: border-box;
    width: 40%;
    height: 50%;
    border-radius: 10px;
  }

#browse-button{
    /* font-size: large; */
    font-weight: bold;
    font-size: medium;
    align-items: center;
    background-color: #ef6c3c;
    /* color: cadetblue; */
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
}

#browse-button:hover{
    background-color: #852704;
    color: rgb(182, 166, 166);
}

.browse-header{
    margin: 6px;
}

#popup-window-browse p {
    font-size: medium;
    font-weight: light;
    /* height: 20px; */
    /* width:95%; */
    padding: 2px;
    margin-top: 0;
    color: black;
    /* background-color: #ef6c3c; */
}



/*input:focus {
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-image-source: linear-gradient(to bottom right,#ef6c3c,#de2a60);
    border-image-slice: 1;
    box-shadow: none;
  
}*/


.drag-area{
    text-align: center;
    height: 100%;
    width: 100%;
    /* border: 1px dashed cadetblue; */
    /* border: 1px dashed #ef6c3c; */
    /* border-radius: 10px; */
    position: relative;
}

.drag-area .drag-drop-header{
    margin-top: 10%;
}

.drag-area .support{
    color: grey;
    font-size: smaller;
}

.drag-area.active{
    border: none;
}

.drag-area img {
    width: 100%;
    height:100%;
    object-fit:contain;
}


footer {
    position:absolute;
    clear: both;
    /* height: 200px; */
    margin-bottom: 5%;
    /* left:0; */
    bottom:0;
    /* top:90%; */
    width:100%;
    text-align: center;
  }

  @media only screen and (max-width: 600px)
{
    .button_div{
        margin-left: 5%;
        }
    input{
            width: 90%;
        }
    .common_position{
            top: 40%;
            left: 60%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 150px;
        }
        #btnUpload{
            width: 150px;
        }
        #popup-window-generate{
            height: 60%;
        }

}


@media only screen and (min-width:200px) and (max-width: 350px){

    body{
        /* background-color:#de2a60; */
    }

    .button_div{
        margin-left: 10%;
        }
    input{
            width: 95%;
            margin-left: 3%;
            box-shadow:none;
        }
    .common_position{
            top: 40%;
            left: 50%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 120px;
        }
        #btnUpload{
            width: 120px;
        }

        #popup-window-generate{
            height: 60%;
        }

        #popup-window-browse{
            /* height: 10px; */
        }

}

@media only screen and (min-width:412px) and (max-width: 600px){
    body{
        /* background-color:#2ade2a; */
    }

    .button_div{
        margin-left: 17%;
        }
    input{
            width: 90%;
            margin-left: 10px;
            box-shadow:none;
        }
    .common_position{
            top: 40%;
            left: 50%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 150px;
        }
        #btnUpload{
            width: 150px;
        }

        #popup-window-generate{
            height: 60%;
        }

        #popup-window-browse{
            /* height: 10px; */
        }
     
}


@media only screen and (min-width:351px) and (max-width: 411px){

    body{
        /* background-color:#2ade2a; */
    }

    .button_div{
        margin-left: 8%;
        }
    input{
            width: 90%;
            margin-left: 10px;
            box-shadow:none;
        }
    .common_position{
            top: 40%;
            left: 50%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 150px;
        }
        #btnUpload{
            width: 150px;
        }

        #popup-window-generate{
            height: 60%;
        }

        #popup-window-browse{
            /* height: 10px; */
        }

}


@media only screen and (min-width:601px) and (max-width: 900px){


    .button_div{
        margin-left: 25%;
        }
    input{
            width: 80%;
        }
    .common_position{
            top: 40%;
            left: 50%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 150px;
        }
        #btnUpload{
            width: 150px;
        }
        #popup-window-generate{
            height: 60%;
        }

}

@media only screen and (min-width:901px) and (max-width: 1000px){
    .button_div{
        margin-left: 27%;
        }
    input{
            width: 80%;
        }
    .common_position{
            top: 40%;
            left: 50%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 200px;
        }
        #btnUpload{
            width: 200px;
        }
        #popup-window-generate{
            height: 60%;
        }
}

@media only screen and (min-width:1001px) and (max-width: 1300px){
    .button_div{
        margin-left: 27%;
        }
    input{
            width: 80%;
        }
    .common_position{
            top: 40%;
            left: 50%;
        }
    .img_class{
            width: 300px;
        }

        #btnGenerate{
            width: 200px;
        }
        #btnUpload{
            width: 200px;
        }
        #popup-window-generate{
            height: 60%;
        }
}


@media screen and (max-width:1000px){
    .container {
        height: 100vh;
        width: 100vw;
        font-family: Helvetica;
      }
      
      .loader {
        height: 20px;
        width: 150px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .loader--dot {
        animation-name: loader;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        border: 2px solid white;
      }
      .loader--dot:first-child {
        background-color: #8cc759;
        animation-delay: 0.5s;
      }
      .loader--dot:nth-child(2) {
        background-color: #8c6daf;
        animation-delay: 0.4s;
      }
      .loader--dot:nth-child(3) {
        background-color: #ef5d74;
        animation-delay: 0.3s;
      }
      .loader--dot:nth-child(4) {
        background-color: #f9a74b;
        animation-delay: 0.2s;
      }
      .loader--dot:nth-child(5) {
        background-color: #60beeb;
        animation-delay: 0.1s;
      }
      .loader--dot:nth-child(6) {
        background-color: #fbef5a;
        animation-delay: 0s;
      }
      .loader--text {
        position: absolute;
        top: 200%;
        left: 0;
        right: 0;
        width: 4rem;
        margin: auto;
      }
      .loader--text:after {
        content: "Loading";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      
      @keyframes loader {
        15% {
          transform: translateX(0);
        }
        45% {
          transform: translateX(130px);
        }
        65% {
          transform: translateX(130px);
        }
        95% {
          transform: translateX(0);
        }
      }
      @keyframes loading-text {
        0% {
          content: "Loading";
        }
        25% {
          content: "Loading.";
        }
        50% {
          content: "Loading..";
        }
        75% {
          content: "Loading...";
        }
      }

}

@media screen and (min-width:1001px){
.container {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
  }
  
  .loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
  }
  .loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
  }
  .loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
  }
  .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
  }
  .loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
  }
  @keyframes loading-text {
    0% {
      content: "Loading";
    }
    25% {
      content: "Loading.";
    }
    50% {
      content: "Loading..";
    }
    75% {
      content: "Loading...";
    }
  }
}