
body{
 /* background-color: #f6f6f6; */
 background-color: white;

}


.img_class{
    margin-top: 10%;
    width: 400px;
    left:0;
    top:0;
    margin-bottom: 2%;
    /* left:400px; */
}

.button_div{
    width: 50%;
    margin-left: 30%;
}



@media(min-width:2000)
{
    .button_div{
        margin-left: 30%;
        }
}

@media (max-width:1999){
.button_div{
margin-left: 0%;
}
}




td{
    width: 250px;
}

.common_position  button{
    margin-top: 20%;
    font-size: large;
    color: #292525;
    width: 150px;
    border-radius: 6px;
    height: 40px;
    border:none;
    position: relative;
    background-color: white;
    box-shadow: 0px 2px 5px  rgb(124, 115, 115);
}


#btnGenerate{
    /* margin-left: 40%; */
}

#btnUpload{
    margin-left: 8%;
}


.common_position button:hover{
    background-image: linear-gradient(to bottom right,#ef6c3c,#de2a60)!important;;
    color: white;
    opacity: 90%;
    cursor: pointer;
    box-shadow:none;
}

input{
    position: relative;
    margin-top: 0px;
    margin: auto;
    /* margin-left: 50%; */
    width: 70%;
    font-size: medium;
    border-width: 2px;
    border-color: white;
    box-shadow: 0px 6px 20px  rgb(124, 115, 115);
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    padding-left: 2%;
}


input:focus {
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-image-source: linear-gradient(to bottom right,#ef6c3c,#de2a60);
    border-image-slice: 1;
    box-shadow: none;
  
}

   /* background-image:linear-gradient(to bottom right,#ef6c3c,#de2a60)!important */


/*input:focus{
    outline: rgb(0, 255, 98);
}*/

div{
    /* display:inline-table; */
    /* display:flex; */
}

html{
    /* display:inline-table; */
}

.common_position{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;

}


.popup-window {
    position: fixed;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
  }    

  .close-button{
    font-size: large;
    position: absolute;
    top:5px;
    right:5px;
    background-color: white;
    color: grey;
    border: none;
  }

  .close-button:hover{
    color: red;
    background-color: white;
   
  }

  #popup-window-generate{
    box-sizing: border-box;
    width: 80%;
    height:80%;
    border-radius: 10px;
  }

  .wrapper {

    position: relative;
    border-radius: 10px;
  }
  #popup-window-browse{
    /* align-items: center; */
    /* justify-content: center; */
    box-sizing: border-box;
    min-width: 60%;
    max-width: 85%;
    min-height: 66%;
    max-height: 90%;
    /* width: 80%; */
    font-family:sans-serif;
    flex-direction: column;
    border-radius: 10px;
    /* border-width: 1px; */
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    overflow: auto;
  }


#browse-button{
    /* font-size: large; */
    font-weight: bold;
    font-size: medium;
    align-items: center;
    background-color: #ef6c3c;
    /* color: cadetblue; */
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
}

#browse-button:hover{
    background-color: #852704;
    color: rgb(182, 166, 166);
}

.browse-header{
    margin: 6px;
}

#popup-window-browse p {
    font-size: medium;
    font-weight: light;
    /* height: 20px; */
    /* width:95%; */
    padding: 2px;
    margin-top: 0;
    color: black;
    /* background-color: #ef6c3c; */
}



/*input:focus {
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-image-source: linear-gradient(to bottom right,#ef6c3c,#de2a60);
    border-image-slice: 1;
    box-shadow: none;
  
}*/


.drag-area{
    text-align: center;
    height: 100%;
    width: 100%;
    /* border: 1px dashed cadetblue; */
    /* border: 1px dashed #ef6c3c; */
    /* border-radius: 10px; */
    position: relative;
}

.drag-area .drag-drop-header{
    margin-top: 10%;
}

.drag-area .support{
    color: grey;
    font-size: smaller;
}

.drag-area.active{
    border: none;
}

.drag-area img {
    width: 100%;
    height:100%;
    object-fit:contain;
}


footer {
    position:relative;
    clear: both;
    /* height: 200px; */
    margin-top: 53%;
    /* left:0; */
    /* bottom:0; */
    /* top:90%; */
    width:100%;
    text-align: center;
  }
